.DS_Store
*.DS_Store
rename_chapters.sh
rename_seasons.sh
*.venv
*__pycache__
*__init__.py

# Added navigator to gitignore until he is fixed, i've just tried it on my own from @Thrasher-Intelligence
/navigator